.App {
  text-align: center;
  margin: 5px;
}


.student-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.student-card{
  border: 1px solid black;
  width: 250px;
  height: 300px;
}